@tailwind base;
@tailwind components;
@tailwind utilities;

.site-back {
  background-image: url(https://r4.wallpaperflare.com/wallpaper/12/1008/45/earth-4k-best-desktop-download-wallpaper-b876cd2860b07c48b03ca18e6852943a.jpg);
}

/* Customize scrollbar styles for a terminal folder appearance */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}
