@tailwind base;
@tailwind components;
@tailwind utilities;

.site-back {
  background-image: url(https://cdn.dynamicwallpaper.club/wallpapers/e4ynelwzzr6/thumbs/1600/3.jpg);
  background-position: center;
}

/* Customize scrollbar styles for a terminal folder appearance */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

.blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}
